html,
body {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.navbar {
  width: 100%;
  background-color: none;
  overflow: auto;
  margin-top: 20px;
  position: fixed;
}

.navbar a {
  z-index: +1;
  float: left;
  padding-top: 20px;
  color: #e1f4f3;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  letter-spacing: normal;
  transition: letter-spacing 2s;
}

.navbar a:hover {
  color: #79bac1;
  cursor: pointer;
  letter-spacing: 1px;
  transition: letter-spacing 2s;
}


.rect1{
  border-radius: 6px;
  position:fixed;
  margin-top:17px;
  height: 23px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect2{
  border-radius: 6px;
  position:fixed;
  margin-left:25%;
  margin-top:17px;
  height: 23px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect3{
  border-radius: 6px;
  position:fixed;
  margin-left:50%;
  margin-top:17px;
  height: 23px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect4{
  border-radius: 6px;
  position:fixed;
  margin-left:75%;
  margin-top:17px;
  height: 23px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect5{
  border-radius: 6px;
  position:fixed;
  margin-left:99.6%;
  margin-top:17px;
  height: 23px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect6{
  border-radius: 6px;
  position:fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 3px;
  background-color: #e1f4f3;
}

.rect7{
  border-radius: 6px;
  position:fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 60px;
  background-color: #e1f4f3;
}

.cross #Web{
  position:fixed;
  top: 52%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #e1f4f3;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.cross #Videography{
  position:fixed;
  top: 52%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #e1f4f3;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.cross #Illustrations{
  position:fixed;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #e1f4f3;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.cross #Product_Design{
  position:fixed;
  top: 65%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #e1f4f3;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

.cross>p{
  letter-spacing: 0px;
  transition: letter-spacing 2s;
}

.cross>p:hover{
  cursor: default;
  letter-spacing: 1px;
  transition: letter-spacing 2s;
}

.contact{
  position:absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  width:40%;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #e1f4f3;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
}

#smlink{
  transition: filter 1s;
}

#smlink:hover{
  filter: drop-shadow(5px 5px 5px #222);
  transition: filter 1s;
}

.text h {
  position:absolute;
  margin-top: 150px;
  margin-left: 10%;
  color:#f1f3f4;
  font-family: 'Comfortaa', cursive;
  font-size: 70px;
  letter-spacing: 0px;
  transition: letter-spacing 2s;
}

#title{
  position:absolute;
  margin-top: 105px;
  width: 100%;
  text-align: center;
  color:#f1f3f4;
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  letter-spacing: 0px;
  transition: letter-spacing 2s;
}

.text h:hover{
  cursor: default;
  letter-spacing: 1px;
  transition: letter-spacing 2s;
}

#title:hover{
  cursor: default;
  letter-spacing: 1px;
  transition: letter-spacing 2s;
}

.work{
  position:absolute;
  top: 580px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.galleries{
  display:flex;
  justify-content: space-between;
}

.webs{
  position:fixed;
  top: 40%;
  left: 25%;
  width: 40%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: space-around;
  background-color: #d7fffd;
  border-radius: 5px;
  align-items: center;
  transition: width 2s;
}

.webs:hover{
  width: 41%;
  transition: width 2s;
}

.videos:hover{
  width: 41%;
  transition: width 2s;
}

.illustrations:hover{
  width: 41%;
  transition: width 2s;
}

.product:hover{
  width: 41%;
  transition: width 2s;
}

.content{
  position:relative;
  top: 200px;
  width: 60%;
  left:50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #d7fffd;
  border-radius: 10px;
  transition: width 2s;
}

.message{
  position:relative;
  top: 200px;
  width: 60%;
  left:50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #e1f4f3;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;

}

.contact p, .message p{
  letter-spacing: normal;
  transition: letter-spacing 2s;
}

.contact p:hover, .message p:hover{
letter-spacing: 1px;
cursor:default;
transition: letter-spacing 2s;
}

#input_text{
  width:50%;
  height:200px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #e1f4f3;
  transition: width 2s;
}

#input_text:focus{
  width:51%;
  transition: width 2s;
}

.message button{
  margin-top: 10px;
  background-color: #e1f4f3;
  width:20%;
  height:30px;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  border:none;
  opacity: 100%;
  transition: text-shadow 2s;
  transition: filter 1s;
  color: #142850;
  border-radius: 5px;
}

.message button:hover{
  text-shadow: 2px 2px 5px white;
  transition: text-shadow 2s;
  filter: drop-shadow(5px 5px 5px #222);
  transition: filter 1s;
  cursor: pointer;
}

.content:hover{
  width: 61%;
  transition: width 2s;
}

.contents{
  position:relative;
  top: 200px;
  width: 80%;
  left:50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d7fffd;
  border-radius: 10px;
  transition: width 2s;
}

.contents:hover{
  width: 81%;
  transition: width 2s;
}

.content p{
  text-align: left;
  width:80%;
  color:#142850;
  font-family: 'Comfortaa', cursive;
}

.switch{
  position:fixed;
  top:60%;
  left:50%;
  width:85%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.switch img{
  opacity: 100%;
  transition: opacity 2s;
  width:100px;
  transition: width 2s;
}
.switch img:hover{
  opacity: 70%;
  transition: opacity 2s;
  width:110px;
  transition: width 2s;
}

#virusvideo{
    padding-top:20px;
    padding-bottom: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.videos{
  position:fixed;
  top: 40%;
  left: 75%;
  width:40%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: space-around;
  background-color: #d7fffd;
  border-radius: 5px;
  align-items: center;
  transition: width 2s;
}

.illustrations{
  position:fixed;
  top: 80%;
  left: 25%;
  width:40%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: space-around;
  background-color: #d7fffd;
  border-radius: 5px;
  align-items: center;
  transition: width 2s;
}

.product{
  position:fixed;
  top: 80%;
  left: 75%;
  width:40%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: space-around;
  background-color: #d7fffd;
  border-radius: 5px;
  align-items: center;
  transition: width 2s;
}

.work p{
  color: #e1f4f3;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: normal;
  transition: letter-spacing 2s;
}

.work p:hover {
  cursor: default;
  letter-spacing: 0.5px;
  transition: letter-spacing 2s;
}

.gallery {
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
  float: left;
  width: 180px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.desc a{
  visibility: hidden;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: normal;
  cursor: pointer;
  text-align: center;
}

.mySlides {display: none}
.mySlides img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  padding-top:20px;
  padding-bottom: 10px;
}

.dots{
  text-align:center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #d7fffd;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #142850;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  opacity:70%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#link1:link{
  color:#142850;
}

#link1:visited{
  color:#142850;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
